<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>

    <div style="margin: 20px;">
    <button id="user" type="button" class="btn btn-primary">유저</button>
    <button id="company" type="button" class="btn btn-primary">회사</button>
    <button id="receiptText" type="button" class="btn btn-primary">문자 충전 내역</button>
  </div>
    <div style="padding:100px 200px">
    <table id="userTable" class="table" hidden="true">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">이름</th>
          <th scope="col">번호</th>
          <th scope="col">이메일</th>
          <th scope="col">마지막 로그인</th>
          <th scope="col">카드 등록 여부</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < findAllUser.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= findAllUser[i].user_name %></td>
          <td><%= findAllUser[i].user_phone %></td>
          <td><%= findAllUser[i].user_email %></td>
          <td><%= findAllUser[i].last_login %></td>
          <td>
            <% if( findAllUser[i].cards.length == 0){ %> x <% } else{ %> ㅇ <% }
            %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </div>
    </table>
    <div>
    <table id="companyTable" class="table" hidden="true">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">회사</th>
          <th scope="col">멤버</th>
          <th scope="col">플랜</th>
          <th scope="col">플랜 변경</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < findCompany.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= findCompany[i].company_name %></td>
          <td>
            <% for(var j = 0; j< findCompany[i].userCompanies.length; j++){ %>
            <%= findCompany[i].userCompanies[j].searchingName %>, <% } %>
          </td>
          <td id=nowPlan<%= i %>  ><%= findCompany[i].plans[0].plan %> : <%= findCompany[i].plans[0].pay_type %></td>
          <td>
            <select name="plans"  onchange="changePlan(this)" id=<%= findCompany[i].plans[0].idx %>>
                <option value="프리" >프리</option>
                <option value="스타터:month" >스타터 : month</option>
                <option value="스타터:year" >스타터 : year</option>
                <option value="프로:month"  >프로 : month</option>
                <option value="프로:year" >프로 : year</option>
                <option value="팀:month" >팀 : month</option>
                <option value="팀:year" >팀 : year</option>
                <option value="컴퍼니:month" >컴퍼니 : month</option>
                <option value="컴퍼니:year" >컴퍼니 : year</option>
            </select></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div>
  <table id="receiptTextTable" class="table" hidden="true">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">회사</th>
        <th scope="col">소유주</th>
        <th scope="col">카드</th>
        <th scope="col">세전 금액</th>
        <th scope="col">부가세</th>
        <th scope="col">세후 금액</th>
        <th scope="col">충전 날짜</th>
        <th scope="col">이전 금액</th>
        <th scope="col">충전 후 금액</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < findReceipt.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= findReceipt[i].company_name %></td>
        <td><%= findReceipt[i].company.user.user_name %></td>
        <td>
          <%= findReceipt[i].card_name %>
        </td>
        <td><%= findReceipt[i].result_price %></td>
        <td><%= findReceipt[i].result_price_levy - findReceipt[i].result_price %></td>
        <td><%= findReceipt[i].result_price_levy %></td>
        <td><%= findReceipt[i].createdAt %></td>
        <td><%= findReceipt[i].before_text_price %></td>
        <td><%= findReceipt[i].after_text_price %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
    <script>
      const user = document.getElementById("user");
      const company = document.getElementById("company");
      const receiptText = document.getElementById("receiptText");
      const userTable = document.getElementById("userTable");
      const companyTable = document.getElementById("companyTable");
      const receiptTextTable = document.getElementById("receiptTextTable");
      const selectedTag = document.getElementsByName("plans");

  let nowPlanIdx = 0
  selectedTag.forEach(data=>{
    data.childNodes.forEach((childData)=>{
      const nowPlan = document.getElementById(`nowPlan${nowPlanIdx}`);
      if(childData.innerHTML == nowPlan.innerHTML){
        childData.selected = true
      }
    })
    nowPlanIdx += 1
   
  })
      const changePlan = (toPlan)=>{
        confirm('옵션 바뀜')
//         fetch("/api/admin/company/plan", {
//   method: "PATCH",
//   headers: {
//     "Content-Type": "application/json",
//   },
//   body: JSON.stringify({
//     planIdx: toPlan.id,
//     plan: toPlan.value,
//     whiteLabelChecked : false,
//     chatChecked: false,
//     analysticChecked: false,
 
//   }),
// })
//   .then((response) => response.json())
//   .then((data) => {data.success == 400 || data.success == 500  ? alert('카드가 등록되어있지 않습니다. 플랜 변경 실패.') : alert('플랜 변경 완료.')})

      }

      
      const showUserTable = () => {
       
        userTable.hidden
          ? (userTable.hidden = false ,  companyTable.hidden = true, receiptTextTable.hidden = true)
          : (userTable.hidden = true );
      };

      const showComapnyTable = () => {

        companyTable.hidden
          ? (companyTable.hidden = false,  userTable.hidden = true,receiptTextTable.hidden = true)
          : (companyTable.hidden = true);
      };

      const showReceiptTextTable= ()=>{
        receiptTextTable.hidden
          ? (receiptTextTable.hidden = false, companyTable.hidden = true,  userTable.hidden = true)
          : (receiptTextTable.hidden = true); 
      } 
      company.addEventListener("click", showComapnyTable);
      user.addEventListener("click", showUserTable);
      receiptText.addEventListener("click", showReceiptTextTable);
      
    </script>
  </body>
</html>
