<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>

    <div style="margin: 20px;">
    <button id="user" type="button" class="btn btn-primary">유저</button>
    <button id="company" type="button" class="btn btn-primary">회사</button>
    <button id="receiptText" type="button" class="btn btn-primary">문자 충전 내역</button>
    <button id="eventText" type="button" class="btn btn-primary">이벤트 문자 충전 내역</button>
  </div>
    <div style="padding:100px 200px">
    <table id="userTable" class="table" hidden="true">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">이름</th>
          <th scope="col">번호</th>
          <th scope="col">이메일</th>
          <th scope="col">마지막 로그인</th>
          <th scope="col">카드 등록 여부</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < findAllUser.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= findAllUser[i].user_name %></td>
          <td><%= findAllUser[i].user_phone %></td>
          <td><%= findAllUser[i].user_email %></td>
          <td><%= findAllUser[i].last_login %></td>
          <td>
            <% if( findAllUser[i].cards.length == 0){ %> x <% } else{ %> ㅇ <% }
            %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </div>
    </table>
    <div>
    <table id="companyTable" class="table" hidden="true">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">회사</th>
          <th scope="col">소유주</th>
          <th scope="col">멤버</th>
          <th scope="col">현재 플랜</th>
          <th scope="col">다음 예정 플랜</th>
          <th scope="col">플랜 변경</th>
          <th scope="col">문자 무료 충전</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < findCompany.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= findCompany[i].company_name %></td>
          <td><%= findCompany[i].user.user_name %></td>
          <td>
            <% for(var j = 0; j< findCompany[i].userCompanies.length; j++){ %>
            <%= findCompany[i].userCompanies[j].searchingName %>, <% } %>
          </td>
          <td id=nowPlan<%= i %>>
            <% for(var v = 0; v< findCompany[i].plans.length; v++){ %>
              <% if(findCompany[i].plans[v].active == 1){%>
                <% if (findCompany[i].plans[v].plan == '프리') { %>
                  <%= findCompany[i].plans[v].plan %>
                  <%} else { %>
                    <%= findCompany[i].plans[v].plan %> : <%= findCompany[i].plans[v].pay_type %>
                  <% } %>
                <% } %>
              <% } %> 
          </td>
          <td id=nextPlan<%= i %>> 
            <% for(var d = 0; d< findCompany[i].plans.length; d++){ %>
              <% if(findCompany[i].plans[d].active == 3){%>
                <% if (findCompany[i].plans[d].plan == '프리') { %>
                  <%= findCompany[i].plans[d].plan %>
                  <%} else { %>
                  <%= findCompany[i].plans[d].plan %> : <%= findCompany[i].plans[d].pay_type %>
                  <% } %>
                <% } %>
              <% } %>
          </td>
          <td>
            <select name="plans"  onchange="changePlan(this)" id=<%= findCompany[i].plans[0].idx %>>
                <option value="프리" >프리</option>
                <option value="스타터:month" >스타터 : month</option>
                <option value="스타터:year" >스타터 : year</option>
                <option value="프로:month"  >프로 : month</option>
                <option value="프로:year" >프로 : year</option>
                <option value="팀:month" >팀 : month</option>
                <option value="팀:year" >팀 : year</option>
                <option value="컴퍼니:month" >컴퍼니 : month</option>
                <option value="컴퍼니:year" >컴퍼니 : year</option>
            </select>
          </td>
          <td>  
      <div>  
        <input type="number" id=charge<%= findCompany[i].idx %> placeholder="금액">  
        <button onclick="chargingText(`<%= findCompany[i].idx %>`)">충전</button>
      </div>
            </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div>
  <table id="receiptTextTable" class="table" hidden="true">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">회사</th>
        <th scope="col">소유주</th>
        <th scope="col">카드</th>
        <th scope="col">세전 금액</th>
        <th scope="col">부가세</th>
        <th scope="col">세후 금액</th>
        <th scope="col">충전 날짜</th>
        <th scope="col">이전 금액</th>
        <th scope="col">충전 후 금액</th>

      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < findReceipt.length; i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= findReceipt[i].company_name %></td>
        <td><%= findReceipt[i].company.user.user_name %></td>
        <td>
          <%= findReceipt[i].card_name %>
        </td>
        <td><%= findReceipt[i].result_price %></td>
        <td><%= findReceipt[i].result_price_levy - findReceipt[i].result_price %></td>
        <td><%= findReceipt[i].result_price_levy %></td>
        <td><%= findReceipt[i].createdAt %></td>
        <td><%= findReceipt[i].before_text_price %></td>
        <td><%= findReceipt[i].after_text_price %></td>
 
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<table id="eventTextTable" class="table" hidden="true">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">회사</th>
      <th scope="col">소유주</th>
      <th scope="col">이벤트 충전 날짜</th>
      <th scope="col">이전 금액</th>
      <th scope="col">이벤트 금액</th>
      <th scope="col">충전 후 금액</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < findEventText.length; i++){ %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= findEventText[i].company_name %></td>
      <td><%= findEventText[i].company.user.user_name %></td>
      <td><%= findEventText[i].createdAt %></td>
      <td><%= findEventText[i].before_text_price %></td>
      <td><%= findEventText[i].message_price %></td>
      <td><%= findEventText[i].after_text_price %></td>
    </tr>
    <% } %>
  </tbody>
</table>


</div>
    <script>
      const user = document.getElementById("user");
      const company = document.getElementById("company");
      const receiptText = document.getElementById("receiptText");
      const eventText = document.getElementById("eventText");
      const userTable = document.getElementById("userTable");
      const companyTable = document.getElementById("companyTable");
      const receiptTextTable = document.getElementById("receiptTextTable");
      const eventTextTable = document.getElementById('eventTextTable')
      const selectedTag = document.getElementsByName("plans");
  
  let nextPlanIdx = 0
  selectedTag.forEach(data=>{
    data.childNodes.forEach((childData)=>{
      const nextPlan = document.getElementById(`nextPlan${nextPlanIdx}`);
      if(childData.innerHTML == nextPlan.innerHTML.trim()){
        childData.selected = true
      }
    })
    nextPlanIdx += 1
  })
      const changePlan = (toPlan)=>{
       const changeResult = confirm('플랜을 변경하겠습니까?')
       if(changeResult){
        fetch("/api/admin/company/plan", {
    method: "PATCH",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      planIdx: toPlan.id,
      plan: toPlan.value,
      whiteLabelChecked : false,
      chatChecked: false,
      analysticChecked: false,
 
  }),
})
  .then((response) => response.json())
  .then((data) => {data.success == 400 || data.success == 500  ? alert('카드가 등록되어있지 않습니다. 플랜 변경 실패.') : alert('플랜 변경 완료.')})
       }
      }

      
      const showUserTable = () => {
        userTable.hidden
          ? (userTable.hidden = false , eventTextTable.hidden = true , companyTable.hidden = true, receiptTextTable.hidden = true)
          : (userTable.hidden = true );
      };

      const showEventTextTable = ()=>{
        eventTextTable.hidden
          ? (eventTextTable.hidden = false ,  companyTable.hidden = true, receiptTextTable.hidden = true, userTable.hidden = true)
          : (eventTextTable.hidden = true );
      };

      const showComapnyTable = () => {

        companyTable.hidden
          ? (companyTable.hidden = false, eventTextTable.hidden = true , userTable.hidden = true,receiptTextTable.hidden = true)
          : (companyTable.hidden = true);
      };

      const showReceiptTextTable= ()=>{
        receiptTextTable.hidden
          ? (receiptTextTable.hidden = false,eventTextTable.hidden = true , companyTable.hidden = true,  userTable.hidden = true)
          : (receiptTextTable.hidden = true); 
      } 
      const chargingText = (data)=>{
     
  const chargeInput = document.getElementById(`charge${data}`)
  if(chargeInput.value == ''){
    alert('금액을 입력해 주세요.')
    return
  }    
 const confirmResult = confirm('충전 하시겠습니까?')
 if(confirmResult){
  fetch("/api/admin/charge/free/sms", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
    company_idx: +data,
    price: +chargeInput.value
  }),
})
  .then((response) => response.json())
  .then((data) => {data.success == 200 ? alert('문자충전 완료.') : alert('문자충전 실패.')})
 }
 
      }
      company.addEventListener("click", showComapnyTable);
      user.addEventListener("click", showUserTable);
      receiptText.addEventListener("click", showReceiptTextTable);
      eventText.addEventListener('click',showEventTextTable)
    </script>
  </body>
</html>
